* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: black;
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
}

h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 32px;
    z-index: 10;
}

