* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: black;
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
}

h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 32px;
    z-index: 10;
    background: linear-gradient(45deg,
            white,
            rgb(6, 230, 6),
            #fff,
            #00ff88,
            #00ff88);
    background-position: 0% center;
    background-size: 200% 200%;
    color: transparent;
    background-clip: text;
    animation: shine 8s linear infinite;
}

@keyframes shine {
    from {
        background-position: 0% center;
    }

    to {
        background-position: 300% center;
    }
}